/*************
******* MIXINS
*************/

@mixin button($fontSize) {
    font-size: $fontSize;
    text-transform: uppercase;
    color: white;
    padding: 7px 2.2em;
    max-height: 2.2em;
    font-weight: bold;
    background-image: linear-gradient(
        to bottom,
        #333, black
    );
    transition: 0.3s all ease-in-out;
    &:hover {
        background-image: linear-gradient(
            to bottom,
            black, #333
        );
        cursor: pointer;
    }
}