@import 'vars';
@import 'mixins';

/*************
******* DESKTOP
*************/

body {
    background-color: $bodyGrey;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $textBlack;
}

main {
    max-width: 1261px;
    display: block;
    margin: 0 auto;
    padding: 2em;
}

.content-box {
    background-color: #fff;
    padding: 1.3em;
}

// Hero image
.hero {
    img {
        width: 100%;
    }
    h1 {
        color: black;
        font-size: 4em;
        margin: 0;
    }
    .content-info {
        display: flex;
        .body-text {
            margin-right: 1em;
        }
        button {
            @include button(1.2em);
            align-self: flex-end;
        }                
    }
}

// Benefits
.benefits {
    display: flex;
    justify-content: space-around;
    margin: 1.5em 0;
    .benefits-box {
        background-color: white;
        flex-grow: 1;
        padding: 1.5em;
        margin: 0 0.5em;
        display: flex;
        flex-direction: column;
        align-content: center;
        img {
            width: 150px;
            height: 107px;
            display: block;
            margin: 0 auto;
        }
        button {
            @include button(1em);
            display: block;
            max-width: 50%; 
            margin: 0 auto;
        }
    }
    .benefits-box:hover {
        img {
            animation: spin 1s ease-in-out 0.5s infinite alternate;
        }
    }
}

// Windowpanes
.windowpane {
    background-color: white;
    margin: 3em 0;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    .img-placeholder {
        background-color: #777;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .content-box {
        padding: 3em;
    }
    button {
        @include button(1em);
        display: block;
        margin: 4em auto;
    }
}

.windowpane:last-of-type {
    grid-template-rows: 1fr 100%;
    .content-box {
        grid-column: 1 / 1;
        grid-row: 1 /1;
    }
    .img-placeholder {
        grid-column: 2 / span 4;
        grid-row: 1 /1;
    }
}

/*************
******* MOBILE
*************/

@media screen and (max-width: 768px) {
    body {
        main {
            // Hero
            .hero {
                h1 {
                    text-align: center;
                    font-size: 2em;
                    margin: 0.2em;
                }
                .content-info {
                    flex-direction: column;
                    justify-content: center;
                    button {
                        @include button(1.4em);
                        align-self: center;
                        margin: 2em 0;
                    }   
                }
            }
        }
    }
    // Benefits
    .benefits {
        flex-direction: column;
        .benefits-box {
            margin: 1em 0;
            img {
                width: 10em;
                height: 6em;
            }
            button {
                @include button(1em);
                margin: 0 auto;
            }
        }
    }
    // Windowpanes
    .windowpane {
        grid-template-rows: repeat(3, 11em);
        padding: 0;
        .content-box {
            grid-column: 1 / span 4;
            grid-row: 1 / 1;
            padding: 2em 3em 0 3em;
            text-align: center;
            font-weight: bold;
            .body-text {
                max-height: 3.5em;
                overflow: hidden;
            }
        }
        button {
            margin: 2em auto 1em auto;
        }
        .img-placeholder {
            grid-column: 1 / span 4;
            grid-row: 2 / span 3;
        }
    }
    .windowpane:last-of-type {
        grid-template-rows: repeat(3, 11em);
        padding: 0;
        .content-box {
            grid-column: 1 / span 4;
            grid-row: 1 / 1;
            padding: 2em 3em 0 3em;
            text-align: center;
            font-weight: bold;
            .body-text {
                max-height: 3.5em;
                overflow: hidden;
            }
        }
        button {
            margin: 2em auto 1em auto;
        }
        .img-placeholder {
            grid-column: 1 / span 4;
            grid-row: 2 / span 3;
        }
     }
}

